body {
        margin: 0;
        overflow: hidden;
        background: #111;
        font-family: sans-serif;
      }
      .controls {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
      }
      button {
        background: #333;
        color: white;
        border: 1px solid #555;
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
        font-size: 1em;
      }
      button:hover {
        background: #555;
      }

      #pdfModal {
        display:none; 
        position:fixed; 
        top:0; 
        left:0; 
        width:100vw; 
        height:100vh; 
        background:rgba(0,0,0,0.8); 
        justify-content:center; 
        align-items:center;
      z-index: 9999;  
    }

    #pdfModal > div {
        width:80vw; 
        height:80vh; 
        background:#fff; 
        position:relative;
      }

      #pdfContainer {
        width: 100%;
        height: 100%;
      }

      a-text {
        color: white;
      }

    /* #glitchOverlay {
     will-change: background-position, transform, filter;
    pointer-events: none;
    position: fixed;
    opacity:0.4;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    mix-blend-mode: screen;
    background: repeating-linear-gradient(
      0deg,
      transparent 0px,
      transparent 24px,
      rgba(255, 255, 255, 0.05) 24px,
      rgba(255, 255, 255, 0.1) 26px
    );
    animation: glitchScroll 1.5s linear infinite;
    filter: url(#wavyGlitch);
  }

  @keyframes glitchScroll {
    0% { background-position: 0 0; }
    100% { background-position: 0 20px; }
  } */

  /* SVG Wavy Filter */
  /* svg {
    position: absolute;
    width: 0;
    height: 0;
  }

  @media (max-width: 768px) {
  #glitchOverlay {
    filter: none;
  }
} */






