/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Sep, 2023, 11:01:42 AM
    Author     : 22038845
*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}



html{
    font-size: min(5vw, 3em); 

}


body{
    display: flex;
    flex-wrap: wrap;
    background: #F0EDE6;
    -ms-overflow-style: none;  /* IE and Edge */
    /*overflow:hidden;*/
}

#hero{
    background: #F0EDE6;
    /*background-image: linear-gradient(to right, #f72585 , #7209b7, #3a0ca3, #4361ee, #4cc9f0);*/
    height:100%;
    width:100%;
    color:#4D3060;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.copyright{
    float:right; 
    width:40vw ; 
    height:50px ; 
    right:0 ; 
    text-align: center ;  
    margin-top:80vh ; 
    padding-top:10px; 
    z-index:5 ; 
    position:fixed ; 
    font-size:0.35em ; 
    background:rgba(559,559,559,0.8); 
    border-radius: 15px 15px 0px 0px ;
}

#mainContent{
    margin:50px 80px;
    padding-bottom: 100px;
    font-size:max(20px,0.5rem); 
    z-index: 20;
    overflow: scroll;

}


/*https://stackoverflow.com/questions/43186015/css-hide-scroll-bar-but-have-element-scrollable*/
#mainContent::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

a.resume{
    text-decoration: none;
    color: #4D3060;
    opacity: 0.7;
    cursor:pointer;
}

a.resume:hover{

    opacity: 1;
    text-decoration: underline;
}

#sideContent{
    float:right; 
    z-index:12; 
    text-align: right;
    margin-right:5vw;
    margin-top:50vh; 
    font-size:max(1rem,30px); 
    position:relative;
}

#sideContent b{
    font-family: "minion-pro", serif;
    font-weight: 450;
    font-style:normal;
    color:#CCBAAC;
    font-size:2.8rem;
}

#sideContent p{
    line-height: 50px;
}

.op{

    opacity: 0.5;
}

.op1{
    display: none;
    z-index:8;
    width:50%;
    margin-left:50vw;
    text-align: right;
    padding-right:50px;
    margin-top:70vh;
    position:fixed;
    font-size:max(1rem,30px); 
    opacity: 0.1;

}


nav{
    height:15vh;
}

.bg-custom{
    /*background: #4D3060;*/
}

.nav-bg{
    background: #4D3060;
    height:15vh;
    width:100vw;
    z-index:-10;
}

.navbar-text,.nav-link{
    color: white;
    text-size-adjust: 70%; /*--not supported on firefox, https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust--*/

}


nav a{
    font-size: 15px;
    display: inline-block;
}

.nav-link{
    margin:-5px;
}

.nav-link:hover{

    color:#CCBAAC;
}

.right{
    float:right;
    font-size: 0.2rem;
}

.logo2{
    display:none;
}

.big::after{
    content:"";
    margin-right: 10px;
}


/*----*/
.sticky-icon-bar {
    position: fixed;
    top: 70%;
    z-index: 30;
    box-shadow:5px 0 20px rgba(0,0,0,0.4);
    transform: translateY(-50%);
}

.sticky-icon-bar a {
    display: block;
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease;
    color: black;
    font-size: 17px;
    z-index: 35;
    background-color: #CCBAAC;
}

.sticky-icon-bar a:hover {
    background-color: black;
    color: #CCBAAC;
}

/*----------*/
ul#nav {
    position: relative;
}

ul#nav > li.selected {
    color: white !important;
    border-bottom: 0.15rem solid white !important;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
}

ul#nav>li {
    display: inline-block;
    margin: 0;
}

ul#nav>li:not(.selected):not(#nav_indicator):hover {
    border-bottom: 0.15rem solid #CCBAAC;
}

ul#nav>li:not(#nav_indicator) {
    border-bottom: 0.15rem solid #4D3060;
    cursor: pointer;
    transition-duration: 0.5s, 0.5s;
    transition-property: color, border-color;
    /*transition-delay: 0.1s, 0.1s;*/
}

/*
ul#nav>li#nav_indicator {
  position: absolute;
  display: inline-block;
  width: 0px;
  bottom: 0;
  padding: 0;
  background-color: white;
  height: 0.15rem;
  transition-property: left, width;
  transition-duration: 1s, 1s;
}*/

ul#nav > li#nav_indicator::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15rem; /* Use relative units */
    background-color: white;
    transform: scaleX(0); /* Initially, the line has no width */
    transform-origin: left;
}

ul#nav > li.selected::before {
    transform: scaleX(1); /* Expand the line to full width */
}

/*------*/
.transition-Holder{
    float:left;
    display:none;
    background:#F0EDE6;
    height:100vh;
    width:100vh;
}

.transition-bars {
    float:left;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    background: linear-gradient(to right, #4D3060 40%, transparent 100%);
    animation: slideRight 3s ease-in-out forwards;
    display:none;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/*--------------------*/
/*--https://www.w3schools.com/css/tryit.asp?filename=trycss_form_focus2--*/

input[type = "text"], input[type = "email"] {
    width: max(60vw,250px);
    height:1.3rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 4px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus, input[type="email"]:focus {
    border-bottom: 4px solid #4D3060;
}

textarea{
    width: max(60vw,250px);
    min-height: 20vh;
    border: 4px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea:focus {
    border: 4px solid #4D3060;
}

.btn-bg{
    /*background: #4D3060;*/
    background-image: linear-gradient(to right,  #4D3060 0%, #CCBAAC  51%,  #4D3060  100%);
}

.btn{
    color:#ccc; 
    font-weight: bold;
    font-size: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/*---------------------*/
.main {
    max-width: 1200px;
    margin: 40px 0 80px 120px;
    z-index:30;
    font-size:max(20px,0.5rem); 
}


.row {
   /* margin: 10px 70px; */
}


.col-md-6 {
    /*width: 33.33%;*/
    display: none;
}

/* Content */
.content {
    padding: 10px;
    margin:20px;
    text-align: center;
    /*min-width: 40px;
    min-height:160px;
    max-height:45vh;*/
}

.content p{
    font-size: 0.5rem;
    font-weight: bold;
}

.content img{
    margin: auto 0;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.subNav{
    border: none;
    outline: none;
    padding: 12px 16px;
    color: #CCBAAC;
    background:none;

    cursor: pointer;
    font-weight: bold;
}

.subNav:hover {

    color:white;
}

.subNav.active {

    color: #4D3060;
}

/*--------------*/ /*---https://www.w3schools.com/howto/howto_css_modals.asp---*/

body.modal-open {
    overflow: hidden;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left:0;
    top: 0;
    width: 100% ; /* Full width */
    height: 100% ; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content { /*w3 school*/
    background-color: #F0EDE6;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80% ;
    height: 70vh;
    overflow:hidden;
    animation: animatezoom 0.6s;
}

.modal-content row{
    margin:20px;
    background:grey;
}

/*.col-md-11{
    height: 50vh;
    overflow-y:scroll;
    scrollbar-color: #4D3060 #CCBAAC;
    scrollbar-width: thin;
}*/

.col-md-5{
    padding-bottom:20px;
}

.col-md-5, .col-md-7{
    height:50vh;
    overflow-y:scroll;
    scrollbar-color: #4D3060 #CCBAAC;
    scrollbar-width: thin;

}

.col-md-5::-webkit-scrollbar, .col-md-7::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/*------*/
.colorBox{
    width: max(1.8rem,50px);
    font-size:0.4rem;
    height: 2.2rem;
    text-align: center;
    cursor:pointer;
    display:inline-block;
    position:relative;
}

.colorBox::after{
    content: attr(data-color);
    display: block;
    position: absolute;
    top: 65%; /* Position below the .colorBox element */
    left: 0;
    width:100%;
    background:white;
    opacity:0;
    margin:auto;
}

.itemList{
    padding: 20px;
}


.colorBox:hover::after {
    opacity: 1;
}

.credit{
    font-size: 0.4rem;
    float:right;
}

@media (max-width: 768px) { /*mobile*/
    .main{
        margin: 40px 0 90px 50px;
    }

    .modal-content {
        margin:20px;
        margin-right:-200px;
        height: auto+20%; /* Allow modal content to grow with its content on smaller screens */
        overflow-y:scroll;
        scrollbar-color: #4D3060 #CCBAAC;
        scrollbar-width: thin;
        left:30px;
    }

    .modal-content::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }

    .col-md-6 {
        margin-top:20px;
        height: auto; /* Allow the content in .col-md-6 to expand on smaller screens */
        overflow: hidden;

    }

    .colorBox::after{
        opacity: 1;
        font-size: 0.4rem;
    }

    .col-md-5 img{
        margin-top:-20px;
        margin-left:-20px;
    }

    .imgAdjust2{
        padding-left:50px;
    }

    .imgContent1, .imgContent2, .imgContent3{
        /*margin:20px; 
        margin-left:-10px;*/
        margin: auto;
        max-height:350px;
        width:100%;
    }
    
    .imgContent4{
        width:100%;
        margin:auto;
        padding-left:40px;
    }
    
    

}

@media (min-aspect-ratio: 2/1)  { /*when screen is full*/
    .logo2{
        display:block;
    }

    #logo1{
        display:none;
    }

    .op1{
        display:block;
    }

    .col-md-5{
        margin-right:-50px;
    }

    .imgAdjust{
        margin-left:-50px; margin-top:30px;
    }


}


@keyframes animatezoom{
    from{transform:scale(0)} to{transform:scale(1)}}

    /* The Close Button */
    .close {
        color: #aaaaaa;
        text-align: right;
        font-size: 0.8rem; /*28px*/
        margin-bottom: -20px;
        margin-top:-10px;
        font-weight: bold;
        z-index:20;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .contentLink a{
        padding-top:20px;
        text-decoration: none;
        color: black;
        font-size:0.5rem;

    }

    .contentLink a:hover{
        color:white;
    }

    /*-----------*/ /*--https://stackoverflow.com/questions/39858998/zoom-in-and-out-on-mouse-click-with-css--*/
    /*input[type=checkbox] {
        display: none;
    }

    label img {
        transition: transform 0.25s ease;
        cursor: zoom-in;
    }

    input[type=checkbox]:checked + label > img {
        transform: scale(2);
        cursor: zoom-out;
        margin:300px;
    }*/




