
#cssSlideSHOW
{
  margin:-10px auto 0px; /*-- aligns the SlideSHOW to center of page , and gets rids of extra space up top--*/
  padding:0px 0px; /*-- aligns the SlideSHOW img to the center of page --*/
  width:960px; /*-- width of container with naviBar --*/
  height:810px; /*-- height of container with naviBar -- */
  position:relative; /*-- sets position to relative --*/
}

#cssSlideSHOW li
{
  list-style:none; /*-- sets the list-style to none --*/
  margin:0px 0px; /*-- resets the default marigint to 0 --*/
  padding:0px 0px; /*-- reset the default padding 0 --*/
}

/*-- starts of navi --*/
#cssSlideSHOW li input + label
{
  position:absolute; /*-- to ensure that it remains where you want it to --*/
  bottom:5px; /*-- space from bottom --*/
  left:10px; /*-- space from left --*/
  z-index:999; /*-- to ensure this element stays atop all other elements --*/
  font:bold 13px Sans-Serif; /*-- settings for the font --*/
  background-color:black; /*-- the background color for the buttons --*/
  border: 1px solid #fdfee2; /*-- sets border for the label --*/
  color:white; /*-- setting the text color --*/
  padding: 20px 0px 0px; /*-- sets padding for label--*/
  height: 40px; /*-- height of labels --*/
  width: 30px; /*-- sets the width for label --*/
  text-align:center; /*-- to make sure the text/num stays in the center of box at all times... --*/
  cursor:pointer; /*-- makes the cursor a pointer when it hovers over the label --*/
}

/*-- li nth-child selector --*/

#cssSlideSHOW li:nth-child(2) label
{
  left:45px; /*-- plus 35 from previous assigned left: 10 , for displaying/spacing out the label properly,
              "5" is the space between buttons, "30" is the width of button--*/
}

#cssSlideSHOW li:nth-child(3) label
{
  left:80px; /*-- additional 35 to 45 , for displaying/spacing out the label properly --*/
}

#cssSlideSHOW li:nth-child(4) label
{
  left:115px; /*-- additional 35 to 80 , for displaying/spacing out the label properly --*/
}

/*-- end of li nth-child selector --*/ 

#cssSlideSHOW li img
{
  position:absolute; /*-- to ensure that it stays in this certain position, unchange by any other value --*/
  top:50%; /*-- sets it to center , for it to rotate in the center of SlideSHOW --*/
  left:50%; /*-- sets it to center , for it to rotate in the center of SlideSHOW --*/
  width:0px; /*-- to push it/make it stay to the left  --*/
  height:0px; /*-- to push it/make it stay to the top --*/
  visibility:hidden; /*-- so that it is still hidden but occupies space --*/
  opacity:0; /*-- to give it an appearance that it is fading out. --*/
  /*-- transitions ease-in-out for images--*/
  -webkit-transition:all 2s ease-in-out;
  -moz-transition:all 2s ease-in-out;
  -ms-transition:all 2s ease-in-out;
  -o-transition:all 2s ease-in-out;
  transition:all 2s ease-in-out;
}

#cssSlideSHOW a
{
  text-decoration:none; /*-- removes underline from text --*/
}

#cssSlideSHOW li a span
{
  position:absolute; /*-- keeps the span bar exactly where it is supposed to be --*/
  right:0px; /*-- ensures that it stretches all the way to the fixed width --*/
  bottom:0px; /*-- ensures that it stays bottom --*/
  left:0px; /*-- ensures that it stays left --*/
  background-color:#090000; /*-- sets the background-color --*/
  font:italic 15.5px Sans-Serif; /*-- sets font and size for text --*/
  color:white; /*-- sets the text color --*/
  padding:0px 20px; /*-- padding right and left and also sets top and bottom to 0 --*/
  text-align:right; /*-- aligns the text to the right for span --*/
  opacity:0; /*-- sets opacity to 0 --*/
  /*-- transition ease-in-out for span --*/
  -webkit-transition:all 2s ease-in-out;
  -moz-transition:all 2s ease-in-out;
  -ms-transition:all 2s ease-in-out;
  -o-transition:all 2s ease-in-out;
  transition:all 2s ease-in-out;
}


#cssSlideSHOW li input:checked + label
{
  background-color:#809dd3; /*-- shows which slide you are at --*/
  color:white; /*-- sets the text color --*/
}

#cssSlideSHOW li input:checked ~ img, #cssSlideSHOW li input:checked ~ a img
{
  top:0%; /*-- sets it back to 0 , to offset the previous setting keeping the image in the center of SlideSHOW --*/
  left:0%; /*-- sets it back to 0 , to offset the previous setting keeping the image in the center of SlideSHOW --*/
  width:960px; /*-- setting width for image --*/
  height:900px; /*-- setting height for image --*/
  visibility:visible; /*-- visibility --*/
  
  /*-- transition(rotatational) for the images --*/
  /*-webkit-transform:rotate(720deg) scale(1); 
  -moz-transform:rotate(720deg) scale(1);
  -ms-transform:rotate(720deg) scale(1);
  -o-transform:rotate(720deg) scale(1);
  transform:rotate(720deg) scale(1);*/
  
  opacity:1; /*-- makes the images visible --*/
  z-index:99; /*-- so that it remains below z-index: 100; --*/
}


#cssSlideSHOW li input:checked ~ a span
{
  opacity:0.5; /*-- controls the opacity of the navBar --*/
  z-index:100;/*-- to stack this element ontop of another. --*/
}

#cssSlideSHOW input
{
  display:none; /*-- hides radio buttons --*/
}